langchain-community
streamlit
streamlit_chat
streamlit-authenticator
streamlit-option-menu
langchain
sentence_transformers
pinecone-client ==2.2.0
openai==0.28
pinecone-client
pyparsing
googletrans
pyttsx3
SpeechRecognition
py-espeak-ng
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
pdf2image
faiss-cpu
langchain_google_genai




